@model IEnumerable<chickadee.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h3 class="lead">Tickets</h3>
<hr/>
<table
    data-toggle="table"
    data-show-columns="true"
    data-pagination="true"
    data-search="true"
    data-search-on-enter-key="true"
    data-search-align="left"
    data-show-search-button="true"
    data-mobile-responsive="true"
    data-check-on-init="true"
    data-header-style="headerStyle"
    data-buttons="buttons"
    data-icons-prefix="fa"
    data-buttons-class="green">

    <thead>
    <tr>
        <th data-sortable="true" data-field="Problem">
            @Html.DisplayNameFor(model => model.Problem)
        </th>
        <th data-sortable="true" data-field="Description">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th data-sortable="true" data-field="CreatedBy" data-visible="false">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th data-sortable="true"  data-field="CreatedOn" data-visible="false">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th data-sortable="true" data-field="EstimatedDate" data-visible="false">
            @Html.DisplayNameFor(model => model.EstimatedDate)
        </th>
        <th data-sortable="true" data-field="Status">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th data-sortable="true" data-field="Severity">
            @Html.DisplayNameFor(model => model.Severity)
        </th>
        <th data-sortable="true" data-field="Property">
            Property
        </th>
        <th data-sortable="true" data-field="Unit">
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th data-sortable="true" data-field="ClosedDate" data-visible="false">
            @Html.DisplayNameFor(model => model.ClosedDate)
        </th>
      
        <th data-field="Actions" data-align="center">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Problem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.FirstName)
                @Html.DisplayFor(modelItem => item.CreatedBy.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @item.EstimatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Unit.Property.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.UnitNo)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ClosedDate)
            </td>
            <td class="hstack gap-3 justify-content-center">
                <a asp-action="Edit" asp-route-id="@item.TicketId">
                    <i class="bi bi-pencil-fill fa-table"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.TicketId">
                    <i class="bi bi-info-circle-fill fa-table"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.TicketId">
                    <i class="bi bi-trash-fill fa-table"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>


@{
    <script>
    
  function headerStyle() {
    return {
    css: {
        background: '#103A31',
        color: '#EEEFDF'
    }
    }
  }
  
 function buttons () {
    return {
      btnAdd: {
        text: 'Add new row',
        icon: 'fa-plus',
        event: function () {
           window.location.assign("SATicket/Create/");
        },
        attributes: {
          title: 'Add a new row to the table'
        }
      }
    }
  }
    
</script>
}