@model IEnumerable<chickadee.Models.Tenant>

@{
    ViewData["Title"] = "Index";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h3 class="lead">Tenants</h3>
<hr/>
<table
    data-toggle="table"
    data-show-columns="true"
    data-pagination="true"
    data-search="true"
    data-search-on-enter-key="true"
    data-search-align="left"
    data-show-search-button="true"
    data-mobile-responsive="true"
    data-check-on-init="true"
    data-header-style="headerStyle"
    data-buttons="buttons"
    data-icons-prefix="fa"
    data-buttons-class="green">

    <thead>
    <tr>
           
        <th data-sortable="true" data-field="FirstName">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th data-sortable="true" data-field="LastName">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th data-sortable="true" data-field="DateOfBirth">
        @Html.DisplayNameFor(model => model.DateOfBirth)
        <th data-sortable="true" data-field="Email">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th data-sortable="true" data-field="PhoneNumber">
           Phone Number
        </th>
         <th data-sortable="true" data-field="Unit">
                            @Html.DisplayNameFor(model => model.Unit)</th>
        <th data-field="Actions" data-align="center">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
       {
           <tr>
            
               <td>
                   @Html.DisplayFor(modelItem => item.FirstName)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.LastName)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.DateOfBirth)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Email)
               </td>
               <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
               </td>
                  <td>
                                  @Html.DisplayFor(modelItem => item.Unit.UnitNo)
                              </td>
               <td class="hstack gap-3 justify-content-center">
                   <a asp-action="Edit" asp-route-id="@item.Id">
                       <i class="bi bi-pencil-fill fa-table"></i>
                   </a>
                   <a asp-action="Details" asp-route-id="@item.Id">
                       <i class="bi bi-info-circle-fill fa-table"></i>
                   </a>
                   <a asp-action="Delete" asp-route-id="@item.Id">
                       <i class="bi bi-trash-fill fa-table"></i>
                   </a>
               </td>
           </tr>
       }
       </tbody>
   </table>



@{
    <script>
    
  function headerStyle() {
    return {
    css: {
        background: '#103A31',
        color: '#EEEFDF'
    }
    }
  }
   
</script>
}